apiVersion: apps/v1
kind: Deployment
metadata:
  name: escooters-mejnik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mejnik
  template:
    metadata:
      labels:
        app: mejnik
    spec:
      containers:
        - image: mejnik.azurecr.io/scootermejnik:v1
          name: mejnik
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP
---

apiVersion: v1
kind: Service
metadata:
  name: mejnik
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      targetPort: server
  selector:
    app: image-catalog